html {
    width: 100vw;
    height: auto;
}

body {
    overflow-x: hidden;
    flex-direction: column;
    width: 100vw;
    height: auto; 
    background-color: #2f3136 !important;
    font-family: 'Roboto', sans-serif;
}



.footer {
    width: 100vw;
    height: 80px;
    padding: 5px 50px 0px 50px;
    border-top: solid 1px #808080;
    margin-top: 20px;
    justify-content: center;
    color: slategray;
    font-size: 10pt;
    align-content: center;
    display: inline-flex;
}

footer {
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.body {
    width: 100vw;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
