.line {
	color: rgba(255, 255, 255, 0.904) solid;
	line-height: 2%;
	line-break: 25%;
}


.about_title {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
}

.about_para {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
	font-size: large;
}

#about_link {
	color: darkslategray;
}

#about_link:hover {
	background-color: rgb(98, 98, 98);
}

#about_link:active {
	background-color: rgb(16, 15, 15);
}

.space {
	width: 100%;
	height: 5%;
}