.line {
	color: rgba(255, 255, 255, 0.904) solid;
	line-height: 2%;
	line-break: 25%;
}



.Symbol_Pages {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}


.Symbol_Pages ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 10px;
}

.Symbol_Pages ul li i {
	color: slategrey;
	
}

.Symbol_Pages ul li:hover {
	background-color: rgb(66, 66, 66);
}

.Symbol_Pages ul li:active {
	background-color:  rgb(66, 66, 66);
}


#selected {
	background-color: rgb(66, 66, 66);
}

#line {
	color: slategray;
	width: 45%;
	padding-left: 15%;
}

.about_title {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
}

.about_para {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
	font-size: large;
}

#about_link {
	color: blue;
}

#about_link:hover {
	color: lightblue;
}

#about_link:active {
	color: rgb(10, 73, 94);
}

.space {
	width: 100%;
	height: 5%;
}