.line {
	color: rgba(255, 255, 255, 0.904) solid;
	line-height: 2%;
	line-break: 25%;
}



.EcoProjects {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

.EP_IMG_Container {
	width: 5%;
	height: auto;
}

#EcoProjects_Logo {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

#EcoProjects_Logo:hover {
	border-radius: 30%;
}

.EcoProjects_title {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
}

.EcoProjects_about {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
	font-size: large;
}

.EcoProjects_List_title {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

.EcoProjects_List {
	font-family: 'Roboto', sans-serif;
	color: slategray;
	display: flex;
	justify-content: center;
	font-size: large;
	padding-bottom: 1%;
	padding-top: 10%;
}


/* Mobile CSS */ 

@media only screen and (max-width: 420px) {

	.EP_IMG_Container {
		width: 15vw;
		height: auto;
	}
	

}