.line {
	color: rgba(255, 255, 255, 0.904) solid;
	line-height: 2%;
	line-break: 25%;
}



.EcoProjects {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

#EcoProjects_Logo {
	border-radius: 35%;
	size: 10%;
}

#EcoProjects_About {
	color: rgba(112, 128, 144, 0.848);
}